.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.title h1 {
    margin: 0 20px;
}

.title svg {
    width: 35px;
    height: 35px;
}

.body {
    min-width: 60vw;
}

.shoppingItemInfoTable {
    width: 100%;
    margin-bottom: 40px;
}

.shoppingItemInfoTable tbody td{
    padding-top: 13px;
}

.userPurchaseListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--onSurface);
    margin: 10px 0;
    padding: 10px;
}

.userIcon {
    width: 18px;
    height: 18px;
    margin: 0 10px;
}

.spacer {
    flex: 1;
}

.purchasedQuantityContainer {
    display: flex;
}

.purchasedQuantityContainer span{
    min-width: 20px;
}

.purchasedQuantityContainer svg {
    width: 12px;
    height: 12px;
    display: block;
    margin: auto;
}

.purchaseMoreButton, .purchaseLessButton {
    width: 35px;
    height: 35px;
    padding: 0px;
    margin: 0;
    border-radius: 50%
}

.purchaseMoreButton {
    background-color: var(--primary);
    box-shadow: 0px 0px 1px var(--primary);
}

.purchaseMoreButton:hover{
    box-shadow: 0px 0px 10px var(--primary);
}

.purchaseLessButton {
    background-color: var(--error);
    box-shadow: 0px 0px 1px var(--error);
}

.purchaseLessButton:hover{
    box-shadow: 0px 0px 10px var(--error);
}

.confirmButton {
    margin-top: 20px;
}