@import '../styles/Colors.css';

.deleteButton {
    background-color: var(--error);
    box-shadow: 0px 0px 1px var(--error);
}

.deleteButton:hover {
    background-color: var(--error);
    box-shadow: 0px 0px 10px var(--error);
}

.titleAndAuthorContainer h1, .titleAndAuthorContainer span {
    display: block;
    padding: 0 auto;
    margin: 5px auto;
    text-align: left;
}

.titleAndAuthorContainer span {
    margin-left: 20px;
}