@import '../styles/Colors.css';

.deleteButton {
    background-color: var(--error);
    box-shadow: 0px 0px 1px var(--error);
}

.deleteButton:hover {
    background-color: var(--error);
    box-shadow: 0px 0px 10px var(--error);
}

.shoppingProductAssignmentsTable {
    background-color: var(--surface);
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--primary);
}

.shoppingProductAssignmentsTable thead tr:nth-child(1) {
    border-bottom: 1px solid var(--primary);
}

.shoppingProductAssignmentsTable thead tr:nth-child(2) th{
    padding: 15px;
    font-size: 1.15em;
    border-bottom: 1px solid var(--primary);
}

.shoppingProductAssignmentsTable tbody tr td{
    padding: 20px 0;
    border-bottom: 0.5px solid var(--shadow);
}

.shoppingProductAssignmentsTable tbody tr:last-child td{
    border: none;
}

.newItemInputRow {
    background-color: var(--primary);
}