.shoppingDetailContainer {
    display: block;
    /* background-color: var(--surface);
    color: var(--onSurface);
    width: 80%;
    padding: 15px; */
    margin: 20px auto;
    /* border-radius: 15px;
    box-shadow: 0px 0px 10px var(--shadow); */
}

.containerHeader {
    display: flex;
    flex-wrap: wrap;
}

.titleAndAuthorContainer {
    border-bottom: 2px solid var(--primary);
    text-align: left;
    margin-bottom: 10px;
}

.titleAndAuthorContainer span {
    display: block;
    margin: 15px 0;
    padding: 0;
}

.titleAndAuthorContainer h1 {
    display: block;
    margin: 0 0 30px 0;
    padding: 0;
}

.deleteButton {
    background-color: var(--error);
    box-shadow: 0px 0px 1px var(--error);
    margin: auto 0;
}

.deleteButton:hover {
    background-color: var(--error);
    box-shadow: 0px 0px 10px var(--error);
}

.subHeader {
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}

.participants {
    display: block;
    margin: 10px 0;
    text-align: left;
}

.participants h2 {
    display: inline-block;
    font-size: 1.05rem;
    text-align: left;
    margin-right: 20px;
}

.participants button {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 0.8rem;
}