@import './Colors.css';

@font-face {
  font-family: Comfortaa;
  src: url('./fonts/Comfortaa.ttf');
}

:root{
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}









body {
  margin: 0;
  background-color: var(--background);
  color: var(--onBackground);
  min-height: 100%;
}

section {
  display: block;
  margin: 20px 40px;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 30px 0px 30px;
  background-color: var(--primary);
  color: var(--onPrimary);
}

.headerLogo {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.headerLogo img {
  width: 50px;
  height: 50px;
  margin-right: 1vw;
}

.headerNavigation {
  display: flex;
  align-items: center;
  align-content: center;
}

.headerNavigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.headerNavigation .headerNavigationLink {
  display: flex;
  align-content: center;
  text-align: center;
  margin: auto 30px;
  padding: 10px 20px;
  border-radius: 30px;
  flex: 1;
  color: var(--onPrimary);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.headerNavigation li {
  flex: 1;
}

.headerNavigation .headerNavigationLink:hover {
  background-color: var(--secondary);
  color: var(--onSecondary);
}

.headerNavigation a {
  text-decoration: none;
}

.headerUser {
  display: flex;
  align-items: center;
}

.headerUser .logoutIcon {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  width: 20px;
  height: 20px;
  color: var(--onPrimary);
  transition: color 0.2s ease;
}

.headerUser .logoutIcon:hover {
  color: var(--secondary);
}

.pageHeader {
  display: flex;
  justify-content: space-between;
}

.pageHeader .pageTitle {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
}






.loginPageContent {
  margin: 0;
  height: 100vh;
  position: relative
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  color: var(--onPrimary);
  border-radius: 20px;
  padding: 50px;
}

.loginContainer img {
  width: 60px;
  height: 60px;
}

.loginContainer form {
  margin-top: 30px;
}

.loginContainer form div {
  margin: 10px 0;
}

.loginContainer form input {
  outline: none;
  border: solid 1px var(--secondary);
  border-radius: 15px;
  padding: 5px;

  box-shadow: 0px 0px 0px var(--secondary);
  transition: box-shadow 0.2s ease-in-out;
}

.loginContainer form input:focus {
  box-shadow: 0px 0px 10px var(--secondary);
}

.loginContainer form button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 5px 50px;
  width: 100%;
  background-color: var(--secondary);
  color: var(--onSecondary);
  opacity: 60%;
  transition: opacity 0.2s ease;
}

.loginContainer form button:hover {
  opacity: 100%;
}

.loginContainer form .formError * {
  color: var(--error);
  font-weight: bold;
  font-size: 0.8em;
}








.shoppingListItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--surface);
  color: var(--onSurface);
  box-shadow: 0px 0px 1px var(--shadow);
  transition: box-shadow 0.3s ease-in-out;
}

.shoppingListItem:hover {
  box-shadow: 0px 0px 15px var(--shadow);
}

.shoppingListItem div {
  text-align: left;
}

.shoppingListItem table{
  border-collapse: separate;
  border-spacing: 30px 5px;
}

.shoppingListItem tr td:first-child {
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
}