:root {
    /* Define your color variables here */
    --primary: #6f2232;
    --onPrimary: #EDE4E4;
    --secondary: #c3073f;
    --onSecondary: #EDE4E4;
    --background: #1a1a1d;
    --onBackground: #EDE4E4;
    --surface: #232329;
    --onSurface: #e2d8d8;
    --shadow: #565656;
    --error: #cf1212;
    --transparent: #ffffff00;
}